build/
build-coil_frontend-Desktop-Debug/
frontend_folder/coil_frontend/moc_*
frontend_folder/coil_frontend/*.o
frontend_folder/coil_frontend/ui_mainwindow.h
frontend_folder/coil_frontend/coil_frontend
frontend_folder/coil_frontend/.qmake.stash
frontend_folder/coil_frontend/coil_frontend.pro.user.*
frontend_folder/coil_frontend/Makefile
/docs/latex
/cmake/FindSphinx.cmake
leftovertime*
src/opencv/*.mp4
TentacleLenght.csv
*.avi